h1 {
  color: white;
  background-color: black;
  font-family: cursive;
  margin: 10px;
  padding: 5px 20px;
  text-align: left;
}

span {
  color: aqua;
}

h2 {
  color: white;
  background-color: rebeccapurple;
  font-family: cursive;
  font-style: italic;
  font-weight: lighter;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

h3 {
  color: rebeccapurple;
  background-color: rgb(164, 204, 244);
  font-family: cursive;
  font-weight: light;
  margin: 10px;
  padding: 5px 20px;
  text-align: right;
  text-decoration: underline;
}
